{% extends 'base.html.twig' %}

{% block body %}


	{% for article in articles %}
		<div class="row-md-2 d-flex align-items-center">
			<div class="col-md-3">
				<img src={{article.image}} class="card-img-top" style="height: 200px;" alt="Article Image">
			</div>
			<div class="card-body ">
				<h5 class="card-title">{{article.name}}</h5>
				<span class="card-categorie">{{article.price}}</span>
				<p class="card-text">{{article.description}}</p>
				<button class="btn btn-danger">Delete</button>
			</div>
		</div>
	{% endfor %}
    
{% endblock %}
